{
  "openapi": "3.0.3",
  "info": {
    "title": "Keyforge API",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://keyforge.dev" }],

  "paths": {
    "/api/v1/public/licenses/validate": {
      "post": {
        "tags": ["public"],
        "operationId": "validateLicense",
        "summary": "Validate license",
        "description": "Check if a license is valid through its key. No API key is needed to access this endpoint.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "licenseKey": {
                    "type": "string",
                    "description": "The license key.",
                    "example": "ABCDE-ABCDE-ABCDE-ABCDE-ABCDE"
                  },
                  "deviceIdentifier": {
                    "type": "string",
                    "description": "The identifier of the device to validate the license for.",
                    "example": "some_device_id"
                  },
                  "productId": {
                    "type": "string",
                    "description": "The product ID to validate the license for.",
                    "example": "p_123456"
                  }
                },
                "required": ["licenseKey", "productId", "deviceIdentifier"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "description": "The response to a license validation request.",
                  "properties": {
                    "isValid": {
                      "type": "boolean",
                      "description": "Whether the license is valid."
                    }
                  },
                  "required": ["isValid"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },

    "/api/v1/public/licenses/activate": {
      "post": {
        "tags": ["public"],
        "operationId": "activateLicense",
        "summary": "Activate license",
        "description": "Activate a license. No API key is needed to access this endpoint.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "licenseKey": {
                    "type": "string",
                    "description": "The key of the license to activate.",
                    "example": "ABCDE-ABCDE-ABCDE-ABCDE-ABCDE"
                  },
                  "deviceIdentifier": {
                    "type": "string",
                    "description": "A unique identifier of the device. Must have at most 64 characters.",
                    "example": "some_device_id"
                  },
                  "deviceName": {
                    "type": "string",
                    "description": "The name of the device. Must have at most 64 characters.",
                    "example": "My computer name"
                  },
                  "productId": {
                    "type": "string",
                    "description": "The ID of the product the license will be activated.",
                    "example": "p_123456"
                  }
                },
                "required": [
                  "licenseKey",
                  "deviceIdentifier",
                  "deviceName",
                  "productId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "description": "The response to a license activation request.",
                  "properties": {
                    "isValid": {
                      "type": "boolean",
                      "description": "Whether the license is valid."
                    },
                    "licenseKey": {
                      "type": "string",
                      "description": "The license key.",
                      "example": "ABCDE-ABCDE-ABCDE-ABCDE-ABCDE"
                    }
                  },
                  "required": ["isValid", "licenseKey"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "description": "The response to a bad request.",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "The error message.",
                          "example": "Invalid license."
                        }
                      },
                      "required": ["message"]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },

  "tags": [
    {
      "name": "public",
      "description": "A public REST API for Keyforge. No API key is needed to access the endpoints. It allows you to create a licensed app without any backend or API.",
      "x-displayName": "Public REST API"
    }
  ]
}
