{
  "openapi": "3.0.3",
  "info": {
    "title": "Keyforge API",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://keyforge.dev" }],

  "paths": {
    "/api/v1/public/licenses/validate": {
      "post": {
        "tags": ["public"],
        "operationId": "validateLicense",
        "summary": "Validate license",
        "description": "Verify if a license is valid through its key. No API key is needed to access this endpoint.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "licenseKey": {
                    "type": "string",
                    "description": "The license key.",
                    "example": "ABCDE-ABCDE-ABCDE-ABCDE-ABCDE"
                  },
                  "deviceIdentifier": {
                    "type": "string",
                    "description": "The identifier of the device to validate the license for.",
                    "example": "some_device_id"
                  },
                  "productId": {
                    "type": "string | string[]",
                    "description": "The product ID of the license. Can also be an array if your app supports multiple products.",
                    "example": "p_123456"
                  }
                },
                "required": ["licenseKey", "deviceIdentifier", "productId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The license can be valid or invalid (`device` and `license` will be null).",
            "content": {
              "application/json": {
                "schema": {
                  "description": "The response to a license validation request.",
                  "properties": {
                    "isValid": {
                      "type": "boolean",
                      "description": "Whether the license is valid."
                    },
                    "device": {
                      "$ref": "#/components/schemas/Device"
                    },
                    "license": {
                      "$ref": "#/components/schemas/PerpetualLicense"
                    }
                  },
                  "required": ["isValid", "device", "license"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },

    "/api/v1/public/licenses/activate": {
      "post": {
        "tags": ["public"],
        "operationId": "activateLicense",
        "summary": "Activate license",
        "description": "Activate a license. No API key is needed to access this endpoint.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "licenseKey": {
                    "type": "string",
                    "description": "The key of the license to activate.",
                    "example": "ABCDE-ABCDE-ABCDE-ABCDE-ABCDE"
                  },
                  "deviceIdentifier": {
                    "type": "string",
                    "description": "A unique identifier of the device. Must have at most 64 characters.",
                    "example": "some_device_id"
                  },
                  "deviceName": {
                    "type": "string",
                    "description": "The name of the device. Must have at most 64 characters.",
                    "example": "My computer name"
                  },
                  "productId": {
                    "type": "string | string[]",
                    "description": "The product ID of the license. Can also be an array if your app supports multiple products.",
                    "example": "p_123456"
                  }
                },
                "required": [
                  "licenseKey",
                  "deviceIdentifier",
                  "deviceName",
                  "productId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The license is valid and has been activated on the device.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "The response to a license activation request.",
                  "properties": {
                    "isValid": {
                      "type": "boolean",
                      "description": "Whether the license is valid. Always true for this endpoint.",
                      "example": true
                    },
                    "device": {
                      "$ref": "#/components/schemas/Device"
                    },
                    "license": {
                      "$ref": "#/components/schemas/PerpetualLicense"
                    }
                  },
                  "required": ["isValid", "device", "license"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. If the license is invalid, the device is already activated, or another error occurs.",
            "content": {
              "application/json": {
                "schema": {
                  "description": "The response to a bad request.",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "The error message.",
                          "example": "Invalid license."
                        }
                      },
                      "required": ["message"]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },

  "components": {
    "schemas": {
      "Device": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string",
            "description": "The identifier of the device.",
            "example": "some_device_id"
          },
          "name": {
            "type": "string",
            "description": "The name of the device.",
            "example": "My computer name"
          },
          "activationDate": {
            "type": "string",
            "description": "The date when the license was activated on this device.",
            "example": "2023-05-19T18:39:33.000Z"
          }
        },
        "required": ["identifier", "name", "activationDate"]
      },
      "PerpetualLicense": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "description": "The license key.",
            "example": "ABCDE-ABCDE-ABCDE-ABCDE-ABCDE"
          },
          "productId": {
            "type": "string",
            "description": "The product ID of the license.",
            "example": "p_123456"
          },
          "type": {
            "type": "string",
            "description": "The type of the license. Can be `perpetual` or `timed`.",
            "example": "perpetual"
          },
          "revoked": {
            "type": "boolean",
            "description": "Whether the license has been revoked.",
            "example": false
          },
          "maxDevices": {
            "type": "integer",
            "description": "The maximum number of devices that can activate this license.",
            "example": 5
          },
          "expiresAt": {
            "type": "string",
            "nullable": true,
            "description": "The date when the license expires. Null if the license is perpetual.",
            "example": null
          },
          "createdAt": {
            "type": "string",
            "description": "The date when the license was created.",
            "example": "2023-05-19T18:39:33.000Z"
          }
        },
        "required": [
          "key",
          "productId",
          "type",
          "revoked",
          "maxDevices",
          "expiresAt",
          "createdAt"
        ]
      }
    }
  },

  "tags": [
    {
      "name": "public",
      "description": "A public REST API for Keyforge. No API key is needed to access the endpoints. It allows you to create a licensed app without any backend or API.",
      "x-displayName": "Public REST API"
    }
  ]
}
