@import 'tailwindcss';
@import 'fumadocs-ui/css/solar.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';

:root {
  --color-fd-primary: hsl(220, 91%, 54%);
  --fd-layout-width: 1480px;
}

.dark {
  --color-fd-primary: hsl(217 92% 76%);
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  select option {
    @apply bg-fd-popover text-fd-popover-foreground;
  }
}

#nd-page {
  @apply pt-12!;
}

#nd-subnav {
  > div {
    @apply border-b-0!;
  }
}
